
html, body {
  overflow-y: auto !important;  
  overflow-x: hidden !important; 
  height: auto !important;       
  min-height: 100vh;
}


.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #07330ae3;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
  z-index: 9999;        
  pointer-events: auto; 
}

.scroll-top:hover {
  background-color: #6d0758;
}